@charset "UTF-8";
/* CSS Document */

html{
	height: 100%;
}

body{
	font-family: Georgia,serif;
	font-size: 1.7rem;
	line-height: 2.4rem;
	background-color: #320318;
}

.billboard{
	background-color: #941751;
	border-radius: 15px;
	width: 70%;
	margin: 5rem auto;
}

blockquote{
	color: #FFF;
	display: block;
	padding: 3.5rem 8% 5rem 2%;
}
	
cite{
	color: #f4a3c0;
	font-family: Arial,sans-serif;
	float: right;
}

span{
	font-family: Arial,sans-serif;
	font-size: 10rem;
	color: #b82d5d;
	float: left;
	margin: 2rem 0 10rem;
	padding-right: 1rem;
}

.right{
	float:right;
	position: relative;
	left: 8%;
	bottom: 1rem;
}